* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*==========common=========== */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    padding: 18px 15px;
}

.btn:hover {
    opacity: 0.9;
}

/* an so dong neu bij nhieu */
.line-clamp {
    /* an so dong neu so dong vuot qua 2 dong */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2); /* toi da 2 dong*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* =========Header========= */

.fix-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 90px); /* laaps ddayaf trang */
    background-color: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
    /* padding-top: 38px; */
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul li:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 8px 14px;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

/* btn action link */
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

/* hero */
.hero {
    padding-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    /* or 119% */
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    /* or 178% */
    color: #5a6473;
}

.hero-cta {
    margin-top: 30px;
    min-width: 170px;
}

/* img hero */
.hero-img {
    width: 35%;
    position: absolute;
    bottom: 0;

    right: calc((100vw - 1110px) / 2 - 60px);
    /* right: 64px; */
}

/* ============  clients ================ */

.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients img {
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc-row {
    margin-top: 23px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    /* identical to box height, or 125% */
    color: #7d8589;
}

.clients .images {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* ============= Guides ================= */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    /* or 100% */
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #000339;
    border-radius: 12px;
}
.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    /* or 188% */
    text-align: center;
    color: #5a6473;
}

/* list guides */
.list-guides {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    text-align: center;
    margin: 0 70px;
}

.guide-item .title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 2rem;
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}
.guide-item .arrow-right {
    margin-left: 4px;
}

/* btn guider */

.guider-cta {
    margin-top: 50px;

    display: flex;
    justify-content: center;
}

.guider-cta .btn {
    min-width: 170px;
}

/* ============= featured properties ============== */

.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #000339;
}

.featured .row {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    /* identical to box height, or 188% */
    color: #5a6473;
}

.featured .link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    /* identical to box height */
    color: #0689ff;
}

.featured .arrow {
    margin-left: 8px;
}

/* list feature  */

.featured .list {
    display: flex;
    gap: 30px; /* khopang cach anh la 30px*/
    margin-top: 70px;
}

.featured .item {
    flex: 1; /* bawngf nhua veef chieeuf ngang*/
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
    background-color: #fff;
    border-radius: 12px;
}

.featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.featured .item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all; /* bor qua taats car*/
}
.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icons {
    margin-left: 23px;
}

.featured .item .icons:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

/* ============= Stats ============== */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

/* trend */

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
    background-color: #fff;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    /* or 150% */
    color: #a7a7a7;
}
.stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    gap: 14px 16px;
    flex-wrap: wrap;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    background-color: var(--bg-color, #fff);
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.stats .avatar:first-child {
    margin-left: 0;
}

/*  */

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    /* or 129% */
    color: #000339;
}

.stats .info .sub-title::before {
    position: absolute;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    /* or 188% */
    color: #5a6473;
}

/* quantity */

.row-qty {
    margin-top: 110px;
    justify-content: space-between;
}

.row-qty .qty-item {
    padding: 0 32px;
}

.row-qty .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.row-qty .desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1rem;
    /* identical to box height */
    color: #7b8087;
}

/*  ============= Subscription ============ */

.Subscription {
    margin-top: 90px;
}

.Subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}
.Subscription .info {
    padding: 0 80px;
    width: 670px;
}

.Subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    /* identical to box height, or 100% */
    color: #ffffff;
}

.Subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    /* identical to box height, or 188% */
    color: #ffffff;
    opacity: 0.75;
}

.Subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #ffffff;
    font-weight: 500;
    font-size: 1.3rem;
    color: #002366;
}

.Subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ============= footer =============== */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row-top {
    display: flex;
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    display: flex;
    margin-top: 20px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 0 16px;
    background: #f9f9f9;
}

.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background-color: #e7e7e7;
    border-radius: 3px;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    /* identical to box height */
    color: #c2c2c2;
}
